body{
    background-color: gray;
}
#header{
    background-color: white;
}
.h1{	
    font-size: 30px;
    color: black;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
#main{
	background-color: green;
	height: 30vh
}
.h2{
	font-size: 30px;
    color: black;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
	
}
#footer{
	background-color: #126b6a;
	height: 10vh;
}
.h3{
	font-size: 15px;
    color: black;
    text-align: left-side;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px
}